.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.is-open .header__overlay {
  @include vp-767 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 43, 102, 0.5);
  }
}

.header__wrapper {
  // position: absolute;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // top: 35px;
  // right: 0;
  // left: 0;
  // z-index: 1;
  // padding-top: 35px;
  // padding-bottom: 35px;

  // @include vp-1023 {
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  // }

  // @include vp-767 {
  //   padding-top: 19px;
  //   padding-bottom: 19px;
  // }
}

.header__logo {
  padding-top: 35px;
  padding-bottom: 35px;

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__logo-img {
  fill: $color-default-white;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }

  @include hover-focus {
    fill: $color-deep-sky-blue;
  }
}


.is-open .header__logo-img {
  @include vp-767 {
    position: absolute;
    top: 22px;
    left: 51px;
    fill: $color-tangaroa;
    z-index: 1;
  }
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-bottom: 4px;
  margin: 0;

  @include vp-767 {
    display: none;
  }
}

.is-open .header__nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 89%;
  height: 100vh;
  background-color: $color-alice-blue;
  padding-right: 7px;
  overflow-y: scroll;
}

.is-open .header__list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 77px;
    padding-bottom: 0;
    // padding-left: 15px;
    margin-left: 15px;
  }
}

.header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  &:not(:last-child) {
    margin-right: 33px;

    @include vp-1023 {
      margin-right: 23px;
    }
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.is-open .header__item {
  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
}

.header__link {
  color: $color-alice-blue;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  @include hover-focus {
    color: $color-deep-sky-blue;
  }
}

.is-open .header__link {
  color: $color-tangaroa;
}

.header__button {
  display: none;

  @include vp-767 {
    position: relative;
    display: flex;
    width: 38px;
    height: 60px;
    background-color: $color-transparent;
    border: 0;
    transition: $trans-modal;
    transform: translate(7px, 0);
    cursor: pointer;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-left: auto;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 7px;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 $color-alice-blue;
    }
  }
}

.is-open .header__button::after,
.is-open .header__button::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 11px;
  width: 19px;
  height: 2px;
  background-color: $color-tangaroa;
  box-shadow: none;
}

.is-open .header__button::before {
  transform: rotate(-45deg);
}

.is-open .header__button::after {
  transform: rotate(45deg);
}

// .header__item:not(:last-child) {
//   margin-right: 33px;
// }
